.sectionEvaluacion{
  width: 100%;
  height: 63px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#secTrabajoInv{
  display: flex;
  background-color: rgba(13,29,49,0.8);
  vertical-align: middle;
  justify-content: space-between;
  align-items: center;
}

#secTrabajoInv h3{
  color: whitesmoke !important;
  text-indent: 10px;
}

#secTrabajoInv img{
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

#secResTrabajoInv{
  display: flex;
  background-color: #F15A29;
  vertical-align: middle;
  justify-content: space-between;
  align-items: center;
}

#secResTrabajoInv h3{
  color: whitesmoke !important;
  text-indent: 10px;
}

#secResTrabajoInv img{
  width: 25px;
  height: 25px;
  margin-right: 20px;
}


#secEvaluacion{
  display: flex;
  background-color: #F15A29;
  vertical-align: middle;
  justify-content: space-between;
  align-items: center;
}

#secEvaluacion h3{
  color: whitesmoke !important;
  text-indent: 10px;
}

#secEvaluacion img{
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

#secTrabajoInv:hover {
    opacity: 0.8;
    cursor: pointer;
}

#secResTrabajoInv:hover{
  opacity: 0.8;
  cursor: pointer;
}

#secEvaluacion:hover {
    opacity: 0.8;
    cursor: pointer;
}

.rubro{
  width: 100%;
  height: 46px;
  background-color: #FFFFFF;
  margin-top: 20px;
  text-align: center;
}

.rubro:hover{
  opacity: 0.4;
  cursor: pointer;
}

.textRubro{
  margin-top: 15px;
  color: black;
  font-size: 13px;
  font-weight: normal;
  display: inline-block;
}

.arrow-black{
  width: 25px;
  height: 25px;
  float: right;
  display: inline-block;
  margin-top: 11px;
  position: relative;
  right: 20px;
}

.todosRubros{
  width: 100%;
  height: auto;
  background-color: transparent;
  padding: 40px;
}

#sec_b{
  width: 100%;
  height: 50;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#b_finalizar{
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#seccionesEva{
  width: 100%;
  height: auto;
  display: none;
}

#seccionesEva textarea{
  border-radius: 20px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
}
